 .NavBar__text{
     display: flex;
     justify-content: center;
 }

 .NavBar__btn{
     margin-right: 20px;
 }

 .NavBar__bg{
    background-color:rgba(0, 182, 0, 0.774);
 }

 .NavBar__img{
     width: 155px;
     height: 80px;
 }